body {font-family:'Segoe UI',sans-serif;background:#f4fbff;margin:0;}
nav {background:#0077b6;color:white;padding:12px 25px;display:flex;justify-content:space-between;}
nav a {color:white;text-decoration:none;margin-left:15px;font-weight:500;}
nav a:hover {text-decoration:underline;}
.content {padding:30px;text-align:center;}
footer {background:#f1f1f1;padding:10px;text-align:center;color:#555;}
.btn {background:#0077b6;color:white;padding:10px 20px;border:none;border-radius:5px;text-decoration:none;}
.btn:hover {background:#023e8a;}
.form-box {background:white;padding:25px;border-radius:10px;box-shadow:0 0 10px #ccc;width:350px;margin:auto;}
table {border-collapse:collapse;width:100%;background:white;box-shadow:0 0 10px #ccc;}
th, td {border:1px solid #ccc;padding:6px;text-align:center;}
th {background:#0077b6;color:white;}
#chartContainer {margin-top:30px;background:white;border-radius:10px;box-shadow:0 0 10px #ccc;padding:20px;}
